version: '3.9'
services:
  postgres:
    image: postgres:latest
    ports:
      - '5432:5432'
    volumes:
      - ./data:/var/lib/postgres
    environment:
      - POSTGRES_DB=POSTGRES_DB
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=example